

  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" routerLink="/menu" >Inicio </a>
          <a class="navbar-brand" routerLink="/adivina" >Adivina</a>
          <a class="navbar-brand" routerLink="/agilidad" >Agilidad</a>
          <a class="navbar-brand" routerLink="/anagrama" >anagrama</a>
          <a class="navbar-brand" routerLink="/PPT" >Piedra,papel o tijera</a>
          <a class="navbar-brand" routerLink="/memotest" >Traduce</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
              <a class="navbar-brand" routerLink="/quienSoy" >¿Quien soy?</a>
              <a class="navbar-brand" routerLink="/login" >Salir</a>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>