<body align="center">

    <app-menu-barra></app-menu-barra>
  <div>
      <h1>Sala de juegos</h1>
      <br>
      <br>
      <br>
      <h3>Informacion sobre el autor:</h3>
      Nombre: Adiliberti pablo<br>
      Mail: Pablo.adiliberti@hotmail.com<br>
      gitHub:PabloAdiliberti<br>
      <br>
      <br>
      <br>
      <h3>Informacion sobre el juego:</h3>
      Traduce: Es un juego donde se muestra un imagen y 
      se debe traducir a ingles en el menor tiempo posible.
      <br>
      <img src="./assets/traductor.jpg" style='width:170px;height:160px' class="img-responsive img-box img-thumbnail">
      <img src="./assets/pablo.jpg" style='width:170px;height:160px' class="img-responsive img-box img-thumbnail"> 

      <br>
      <br>
  </div>
</body>