<body >
    <app-menu-barra></app-menu-barra>
<div>
  <!-- <br><br><h3>{{miJuego.NombreDelJuego}} </h3><br><br> -->
    <form class="loginForm">
      <div >

              <table>
                <tr>
                  <th></th>
                  <th></th>
                  <th><h3 align="center">{{miJuego.NombreDelJuego}} </h3></th>
                  <th></th>
                  <th> <input class="miboton" type="image" style='width:120px'  (click)="miJuego.GenerarNuevo()"  img src="assets/Nuevo.png"></th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><div [hidden]="miJuego.Habilitado"><input type="text"  class="form-control"  name="numero" [(ngModel)]="miJuego.NumeroIngresado" placeholder="Ingrase un numero"/></div></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><div align="center" [hidden]="miJuego.Habilitado"><input class="miboton" type="image" align="center" style='width:120px'  (click)="miJuego.Verificar()"  img src="assets/Verificar.png"></div></td>
                  <td></td>
                  <td></td> 
                </tr>
                <tr>
                    <td>  <input class="miboton" type="image" style='width:120px;height:160px'  (click)="Salir()"  img src="assets/Salir.png">		</td>
                  <td></td>
                  <td>      {{miJuego.NumeroSecreto}}  
                    <p [hidden]="!miJuego.Gano">Ganó</p>
                    <p [hidden]="miJuego.Gano">No Ganó</p>
                    <p [hidden]="!miJuego.Gano">Tardaste {{miJuego.Fin}} Segundos en adivinar.</p></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
        </div>
      </form>
      <br>
      <br>
      <br>


      <table class="table table-condensed">
        <thead>
          <tr>
              <th>Jugador</th>
              <th>Gano</th>
              <th>Tiempo</th>
              <th>Intentos</th>
              <th>Juego</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let juego of miJuego.Jugadores">
            <td>{{juego.Nombre}} </td>
            <td>{{juego.Gano}} </td> 
            <td>{{juego.Tiempo}} </td> 
            <td>{{juego.Intentos}} </td> 
            <td>{{juego.Juego}} </td> 
          </tr>
        
        </tbody>
      </table>
</div>
</body>