

<!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->

<body style="background-color:#FF0000;">
  <div>
<form class="loginForm">
  <div >
          <table WIDTH=100%>
            <tr>
              <th></th>
              <th></th>
              <th><h1 align="center">{{miJuego.NombreDelJuego}}</h1>
                  <h3>Resuelva la operacion</h3></th>
              <th></th>
              <th> <input class="miboton" type="image" style='width:120px'  (click)="miJuego.GenerarNuevo()"  img src="assets/Nuevo.png"></th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><div [hidden]="miJuego.Habilitado"><br><br><input type="text" name="numero" class="form-control" [(ngModel)]="miJuego.Numero1" >
                <br><br><input type="text" name="numero1" class="form-control" [(ngModel)]="miJuego.Operador" >
                <br><br><input type="text" name="numero2" class="form-control" [(ngModel)]="miJuego.Numero2" >
                <br><br><input type="text" name="numero3" class="form-control" [(ngModel)]="miJuego.Resultado" >
                <p [hidden]="!miJuego.Gano">Ganó</p>
                <p [hidden]="miJuego.Gano">No Ganó</p>  
                <p [hidden]="!miJuego.Gano">Tardaste {{miJuego.Fin}} Segundo en adivinar.</p></div></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><div align="center" [hidden]="miJuego.Habilitado"><input class="miboton" type="image" align="center" style='width:120px'  (click)="miJuego.Verificar()"  img src="assets/Verificar.png"></div></td>
              <td></td>
              <td></td> 
            </tr>
            <tr>
                <td><input class="miboton" type="image" style='width:120px;height:160px'  (click)="Salir()"  img src="assets/Salir.png">		</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
    </div>
  </form>

  <table class="table table-condensed">
    <thead>
      <tr>
          <th>Jugador</th>
          <th>Gano</th>
          <th>Tiempo</th>
          <th>Juego</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of miJuego.Jugadores">
        <td>{{juego.Nombre}} </td>
        <td>{{juego.Gano}} </td> 
        <td>{{juego.Tiempo}} </td> 
        <td>{{juego.Juego}} </td> 
      </tr>
    
    </tbody>
  </table>
</div>
</body>