
<body >
		<app-menu-barra></app-menu-barra>
		<div>
	  <form class="loginForm">
		<div >
				<table WIDTH=100%>
				  <tr>
					<th></th>
					<th></th>
					<th><h1 align="center">{{miJuego.NombreDelJuego}}</h1>
						<h3 align="center">Traduce a ingles la imagen</h3></th>
					<th></th>
					<th><div align="center"><input class="miboton" type="image" style='width:120px'  (click)="miJuego.Nuevo()"  img src="assets/Nuevo.png"></div></th>
				  </tr>
				  <tr>
					<td></td>
					<td></td>
					<td><div align="center"><img class="img-responsive" src="{{miJuego.myPhotoURL}}" /> 
						<h3>AYUDA:
						<a  *ngFor="let item of miJuego.ayuda">
								{{item}}
						</a></h3><div [hidden]="miJuego.Habilitado">
						<input type="text"  class="form-control"  name="usuario" [(ngModel)]="miJuego.foto" placeholder="Respuesta"/></div>
						<div [hidden]="!miJuego.Habilitado">Oprima en NUEVO</div></div>
					</td>
					<td></td>
					<td></td>
				  </tr>
				  <tr>
					<td></td>
					<td></td>
					<td><div align="center" [hidden]="miJuego.Habilitado"><input class="miboton" type="image" align="center" style='width:120px'  (click)="miJuego.Verificar()"  img src="assets/Verificar.png"></div></td>
					<td></td>
					<td></td> 
				  </tr>
				  <tr>
					  <td><input class="miboton" type="image" style='width:120px;height:160px'  (click)="Salir()"  img src="assets/Salir.png">		</td>
					<td></td>
					<td></td>
					<td></td>
					<td><div align="center"><input  type="image" align="center" style='width:220px'  (click)="miJuego.Ayuda()"  img src="assets/Ayuda.png"></div></td>
				  </tr>
				</table>
		  </div>
		</form>
	  
		<table class="table table-condensed">
		  <thead>
			<tr>
				<th>Jugador</th>
				<th>Gano</th>
				<th>Tiempo</th>
				<th>Juego</th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let juego of miJuego.Jugadores">
			  <td>{{juego.Nombre}} </td>
			  <td>{{juego.Gano}} </td> 
			  <td>{{juego.Tiempo}} </td> 
			  <td>{{juego.Juego}} </td> 
			</tr>
		  
		  </tbody>
		</table>
	  </div>
</body>