
<div  ALIGN=center>
  <table>
    <tr>
      <th>Usuario</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Maquina</th>
    </tr>
    <tr>
      <td><a (click)="miJuego.OpcionElegida('piedra')"><img src="../assets/piedra.jpg" style='width:120px;height:120px'></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a (click)="miJuego.OpcionElegida('piedra')"><img src="../assets/piedra.jpg" style='width:120px;height:120px'></a></td>
    </tr>
    <tr>
      <td><a (click)="miJuego.OpcionElegida('papel')"><img src="../assets/papel.jpg" style='width:120px;height:120px'></a></td>
      <td><img src="{{ miJuego.elijioUsuario }}" style='width:120px;height:120px'></td>
      <td></td>
      <td><img src="{{ miJuego.elijioMaquina }}" style='width:120px;height:120px'></td>
      <td><a (click)="miJuego.OpcionElegida('papel')"><img src="../assets/papel.jpg" style='width:120px;height:120px'></a></td>
    </tr>
    <tr>
      <td><a (click)="miJuego.OpcionElegida('tijera')"><img src="../assets/tijera.jpg" style='width:120px;height:120px'></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a (click)="miJuego.OpcionElegida('tijera')"><img src="../assets/tijera.jpg" style='width:120px;height:120px'></a></td>
    </tr>
    <tr>
      <td><h3>Puntos {{miJuego.puntosU}}</h3></td>
      <td></td>
      <td><h3>Empates {{miJuego.empate}}</h3></td>
      <td></td>
      <td><h3>Puntos {{miJuego.puntosM}}</h3></td>
    </tr>
  </table>
</div>
