<div class="col-md-4 col-md-offset-4 text-center">
		<!-- <br><br><h3>{{miJuego.NombreDelJuego}} </h3><br><br> -->
	<form class="loginForm">
		<div class="input-group">
		
					
		<h1>	Anagrama:</h1>
			<!-- <a  *ngFor="let item of miJuego.respuestaArray">
					{{item}}
      </a> -->
      <h3>{{miJuego.Display}}</h3>

			<input type="text"  class="form-control"  name="usuario" [(ngModel)]="miJuego.ingresado" placeholder="Respuesta"/>
			<input type="submit" id="verificar" class="form-control" value="Verificar" (click)="miJuego.Verificar()">

		</div>
	</form>
</div>
<table class="table table-condensed">
        <thead>
          <tr>
              <th>Jugador</th>
              <th>Gano</th>
              <th>Tiempo</th>
              <th>Juego</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let juego of miJuego.Jugadores">
            <td>{{juego.Nombre}} </td>
            <td>{{juego.Gano}} </td> 
            <td>{{juego.Tiempo}} </td> 
            <td>{{juego.Juego}} </td> 
          </tr>
        
        </tbody>
      </table>